[submodule "external/libigl/external/libigl"]
	path = external/libigl/external/libigl
	url = https://github.com/libigl/libigl
[submodule "external/eigen/external/eigen"]
	path = external/eigen/external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "HelperLaneViz/ThirdParty/Triangulator"]
	path = HelperLaneViz/ThirdParty/Triangulator
	url = https://github.com/scline6/Triangulator.git
